{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
 <h1> Mes produits</h1>
<div class="container mt-5">
    <h1 class="mb-5">Liste des produits</h1>

    {% if products is not empty %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>titre</th>
            <th>description</th>
            <th>prix</th>
            <th>image</th>
            <th>Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.content}}</td>
                <td>{{ product.price / 100 }}</td>
                <td><a href="{{ path('card_add',{id: product.id}) }}">Ajouter au panier </a></td>
                <td>
                    <img src="{{ asset(product.attachement) }}" alt="Product Image" width="90"
                    height="100">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        Aucun article trouvé.
    </div>
    {% endif %}
</div>
{% endblock %}
