<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


        {% block stylesheets %}
            <style>
            .main {
            margin-top: 80px;
            }
            </style

        {% endblock %}
        {% block javascripts %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href= "{{ asset('assets/css/bootstrap.min.css') }} ">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.css') }} ">

        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-hexashop.css') }} ">

        <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }} ">

        <link rel="stylesheet" href="{{ asset('assets/css/lightbox.css') }} ">
    </head>
    <body>

        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{{ path('app_home') }}" class="logo">
                                <img src="{{ asset('assets/images/logo.png') }} " alt="mon image">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="#men">Men's</a></li>
                                <li class="scroll-to-section"><a href="#women">Women's</a></li>
                                <li class="scroll-to-section"><a href="#kids">Kid's</a></li>

                                <li class="scroll-to-section">
                                    <div class="navbar-nav ml-auto d-md-flex">
                                        {% if app.user %}
                                            {# Utilisateur connecté, afficher une autre icône ou lien de déconnexion #}
                                            <a class="scroll-to-section" href="{{ path('app_logout') }}">
                                                <i class="fas fa-sign-out-alt"></i> Se déconnecter
                                            </a>
                                        {% else %}
                                            {# Utilisateur non connecté, afficher l'icône de connexion et le lien vers la page de connexion #}
                                            <a class="scroll-to-section" href="{{ path('app_login') }}">
                                                <i class="fas fa-sign-in-alt"></i> Se connecter
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>

                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
        {% block body %}
        {% endblock %}
        </main>
    </body>

</html>
